-var primaryColor = "#0066FF"

style.
  td {
    padding: 20px;
  }
  h1 {
    color: #000000;
  }
  p {
    font-size: 20px;
    color: #555555;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .logo{
   
   width: 100%;
    padding-right: 40px;
    text-align: end;
    background-color: #{primaryColor};
  }
  .logo h1{
    color: white;
    font-size: 30px;
    
  }

  .body-content{
    direction: rtl;
    text-align: right;
  }
  .body-content h1{
    margin: 20px 0;
    text-align: center;
  }

  .report-response{
    background-color: #f3f3f1;
    padding:20px;
  }
  .footer{
    background-color: #000000;
    padding: 20px;
    text-align: center;
  }
  .footer div{
   display: inline-block;
  }
  .footer p{
    color: white;
    font-size: 16px;
  }
  